<%= form_with(model: workout, class: "contents") do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 col-lg-4">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control mt-1" %>
  </div>

  <div class="my-5 col-lg-4">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "form-control mt-1" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary mb-1" %>
  </div>
<% end %>
