<div id="<%= dom_id workout %>">
  <div class="d-flex justify-content-between">
    <p class="me-3"><%= workout.name %></p>
    <% if action_name == "show" %>
    <p class="me-3"><%= workout.description %></p>
    <% end %>
    <% if action_name != "show" %>
      <div>
        <%= link_to "View", workout, class: "btn btn-sm btn-primary" %>
        <%= link_to 'Edit', edit_workout_path(workout), class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>
  </div>
  <hr class="mt-2">
</div>
