<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="d-flex justify-content-between mb-5">
    <h1 class="font-bold text-4xl ms-3 mt-3">Workouts</h1>
    <%= link_to 'New workout', new_workout_path, class: "btn btn-primary rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium me-3 mt-3" %>
  </div>

  <div id="workouts" class="min-w-full m-3">
    <%= form_tag(workouts_path, :method => "get", :class => "d-flex mb-4") do%>
      <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control me-1" %>
      <%= button_tag "Search", :class => "btn btn-primary", :name => nil%>
    <% end %>
    <%= render @workouts %>
  </div>
</div>
