<%= form_with(model: session, class: "contents") do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
        <% session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 col-lg-1">
    <%= form.label :weight %>
    <div class="d-flex">
      <%= form.number_field :weight, min: 0, class: "form-control mt-1" %>
      <strong class="mt-3 ms-2">lbs</strong>
    </div>
  </div>

  <div class="my-5 col-lg-1">
    <%= form.label :reps %>
    <%= form.number_field :reps, min: 0, class: "form-control mt-1" %>
  </div>

  <div class="my-5">
    <%= form.text_field :exercise_id, :readonly => true, type: 'hidden' %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
