<div id="<%= dom_id exercise %>">
  <h2>
    <%= exercise.name %>
  </h2>

  <p class="ms-2"><%= exercise.description %></p>
  <h4>Recent sets</h4>
  <% if @sessions.blank? %>
    <p>No sets yet</p>
  <% end %>
  <% @sessions.each do |session| %>
    <% set = "Reps: #{session.reps} Weight: #{session.weight} lbs"%>
    <div class="list-group">
      <%= link_to set, session, class: "list-group-item list-group-item-action my-1" %>
    </div>
  <% end %>
  <%= link_to 'Add set', "/sessions/new?exercise_id=#{exercise.id}", class: "btn btn-sm btn-primary my-1" %>
  <hr class="mt-2">
</div>
